:root {
  --color-logo: rgb(33, 150, 243);
  --color-logo-dark: rgb(19, 127, 214);
  --color-main: rgb(33, 33, 33);
  --color-black: rgb(0, 0, 0);
  --color-black-backdrop: rgb(0, 0, 0, 0.2);
  --color-contact: rgb(117, 117, 117);
  --color-textarea: rgba(117, 117, 117, 0.5);
  --color-contact-transp: rgba(255, 255, 255, 0.6);
  --color-white: rgb(255, 255, 255);
  --color-social: rgb(175, 177, 184);
  --color-bg-social: rgba(255, 255, 255, 0.1);
  --color-bg-main: rgb(47, 48, 58);
  --color-bg-section: rgb(245, 244, 250);
  --color-border: rgb(236, 236, 236);
  --color-portfolio-element: rgb(238, 238, 238);
  --color-bg-icons: rgb(245, 244, 250);
  --color-header-gadient: rgb(47, 48, 58, 0.4);
  --color-close-btn: rgba(0, 0, 0, 0.1);
  --color-activities: rgba(47, 48, 58, 0.8);
  --color-social-icon: rgba(33, 150, 243, 1);
  --color-projects-overlay: rgba(33, 150, 243, 0.9);
  --color-newsletter-border: rgba(255, 255, 255, 0.3);
  --color-input-border: rgba(33, 33, 33, 0.2);
  --font-roboto: "Roboto";
  --font-raleway: "Raleway";
  --font-sansserif: "sans-serif";
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-bg-main);
  background-color: var(--color-white);
  font-family: var(--font-roboto), var(--font-raleway), var(--font-sansserif);
}

ul {
  list-style-type: none;
  gap: 30px;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px 0 40px;
  z-index: 2;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__header {
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--color-main);
}
.modal__label {
  position: relative;
}
.modal__label:focus-within .modal__svg {
  fill: var(--color-logo);
}
.modal__label:hover .modal__svg {
  fill: var(--color-logo);
}
.modal__data {
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--color-contact);
}
.modal__svg {
  position: absolute;
  top: 31px;
  left: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 35px;
  width: 448px;
  height: 40px;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:hover {
  border-color: var(--color-logo);
  outline-color: var(--color-logo);
  outline: none;
}
.modal__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
}
.modal__textarea::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
}
.modal__textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
}
.modal__textarea::-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
}
.modal__textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-textarea);
}
.modal__textarea:focus, .modal__textarea:hover {
  border-color: var(--color-logo);
  outline-color: var(--color-logo);
  outline: none;
}
.modal__checkbox {
  position: absolute;
  top: 4px;
  left: -23px;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-main);
  border-radius: 2px;
}
.modal__checkbox:checked {
  background-color: var(--color-logo);
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}
.modal__regulations {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.modal__link {
  color: var(--color-logo);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:hover {
  color: var(--color-logo-dark);
}
.modal__submit-btn {
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  background: var(--color-logo);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn:focus, .modal__submit-btn:hover {
  background-color: var(--color-logo-dark);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: var(--color-white);
  border: 1px solid var(--color-close-btn);
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-backdrop);
  z-index: 1;
  -webkit-transition: opacity 1000ms linear, visibility 1000ms linear;
  transition: opacity 1000ms linear, visibility 1000ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.header {
  margin: 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  width: 1200px;
  height: 80px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-logo {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-black);
}
.header__top-logo--color {
  color: var(--color-logo);
}

.nav__menu {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 93px;
}
.nav__link {
  text-decoration: none;
  color: var(--color-main);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: var(--color-logo);
}
.nav__link--active::after {
  position: relative;
  top: 31px;
  display: block;
  content: "";
  width: 58px;
  height: 4px;
  background-color: var(--color-logo);
  border-radius: 2px;
}

.head-ctc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.head-ctc__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-ctc__svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-ctc__contact:hover .head-ctc__link,
.head-ctc__contact:hover .head-ctc__svg {
  color: var(--color-logo);
  fill: var(--color-logo);
}

.banner {
  background-color: var(--color-bg-main);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-header-gadient)), to(var(--color-header-gadient))), url(../images/banner.jpg);
  background-image: linear-gradient(var(--color-header-gadient), var(--color-header-gadient)), url(../images/banner.jpg);
  background-size: cover;
}
.banner__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 41px 10px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-main);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-bg-section);
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__btn:hover {
  background-color: var(--color-logo);
  cursor: pointer;
  color: var(--color-white);
}
.banner__header {
  width: 1000px;
  margin: 0 auto;
}

.container .banner {
  width: 1600px;
  height: 600px;
}

.assets {
  margin-top: 30px;
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0 15px;
}
.assets__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 10px;
}
.assets__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.assets-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.assets-icons__box {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: var(--color-bg-section);
  border-radius: 4px;
}
.assets-icons__svg {
  padding: 25px 100px 25px 100px;
}

.activities-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 50px;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.activities__img {
  position: relative;
}
.activities__img-header {
  position: absolute;
  bottom: 3px;
  width: 370px;
  height: 70px;
  background-color: var(--color-activities);
}
.activities__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 27px 90px;
  color: var(--color-white);
}

.our-team {
  background: var(--color-bg-section);
}
.our-team__header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 50px;
}
.our-team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-main);
}
.our-team__position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-contact);
  margin-top: 10px;
  white-space: nowrap;
}
.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-team__item {
  background: var(--color-white);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__employee {
  padding: 30px;
  text-align: center;
}
.our-team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  gap: 10px;
}
.our-team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  fill: var(--color-social);
  padding: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__icon:hover {
  background-color: var(--color-social-icon);
  fill: var(--color-white);
}

.our-clients__header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
.our-clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}
.our-clients__box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__box:hover {
  fill: var(--color-logo);
  border-color: var(--color-logo);
  cursor: pointer;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.filters__btn {
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  background: var(--color-bg-section);
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover {
  background-color: var(--color-logo);
  cursor: pointer;
  color: var(--color-white);
}

.projects {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects__desc {
  background: var(--color-white);
  border: 1px solid var(--color-portfolio-element);
  padding: 20px 24px;
}
.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.projects__img:hover .projects__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-projects-overlay);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__text {
  font-size: 18px;
  line-height: 1.56;
  padding: 49px 24px 49px 30px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.projects__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-main);
}
.projects__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.footer {
  background-color: var(--color-bg-main);
}
.footer .container {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info {
  margin-right: 70px;
}
.footer-info__logo {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--color-white);
}
.footer-info__logo--color {
  color: var(--color-logo);
}
.footer-info__location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-top: 20px;
}
.footer-info__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact-transp);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info__link:hover {
  color: var(--color-logo);
}

.join {
  padding-top: 12px;
}
.join__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.join__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  gap: 10px;
}
.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--color-bg-social);
  fill: var(--color-white);
  padding: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover {
  background-color: var(--color-social-icon);
}

.newsletter {
  padding-top: 12px;
  margin-left: 78px;
}
.newsletter__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.newsletter__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}
.newsletter__email {
  width: 358px;
  height: 50px;
  border: 1px solid var(--color-newsletter-border);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-bg-main);
  color: var(--color-contact-transp);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__email:focus, .newsletter__email:hover {
  border-color: var(--color-logo);
  outline-color: var(--color-logo);
  outline: none;
}
.newsletter__submit-btn {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: var(--color-logo);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--color-white);
  fill: var(--color-white);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__submit-btn:focus, .newsletter__submit-btn:hover {
  background-color: var(--color-logo-dark);
}
.newsletter__submit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter__svg {
  padding-left: 24px;
}/*# sourceMappingURL=main.css.map */